/* side navigation */
.side-nav{
    position: fixed;
}
.side-nav, ul, li{
    list-style: none;
    padding: 12px 20px;
    color: #737376;
   

}
.side-nav, ul, li a{
    text-decoration: none;
    color: #737376;
    font-size: 14px;
    
}
.active{
    background-color: #008F78;
    border-radius: 5px;
    color: #FFFFFF;
}
.side-nav img{
    padding: 0 10px;
}
