.product-group{
    background-color: #F9FAFC;
    padding: 20px 15px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    
}
.product-group .fisrt-product{
   background-color:#fff ;
   padding: 8px;
    width: 100%;
    color: #0072DA;
    border: 1px solid #0072DA;
    border-radius: 5px;
}
.product-group .btn-product{
    margin-top: 8px;
    background-color:#ECECEC ;
   padding: 8px;
    width: 100%;
    color: #646464;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}
.product-cet .product-type p{
    font-size: 14px;
    color: #9A9A9A;
}
.product-cet .product-type strong{
    font-size: 14px;
    color: #313131;
}